@import 'src/assets/styles/colors.scss';


.cart {
    width: 90%;
    margin: 30px auto;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-2;
    padding: 15px;
    border-radius: 12px;
}
.cart-img {
    width: 100px;
    height: 100px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    text-decoration: none;
    color: $color-4;
    font-size: 18px;
    color: $color-1;
}
.price {
    font-size: 18px;
    color: $color-1;
}
.select {
    appearance: none;
    background-color: $color-4;
    border-radius: 8px;
    color: $color-1;
    text-align: center;
    border: none;
    padding: 5px;
    width: 70px;
    outline: none;
}
.cart-item-length {
    font-size: 17px;
    color: $color-4;
}
.total {
    font-size: 20px;
    font-weight: bold;
    color: $color-4;
}