<app-not-found [visible]="!techItem" notFoundMessage="Product Not Found!"
resetLinkText="Back To Homepage"></app-not-found>

<div class="tech-page-container">
    <div class="details">
        <div>
        <img [src]="techItem.imagePath" [alt]="techItem.name"  />

            <div class="header">
                <span class="name "> {{ techItem.name }}</span>
                <span class="favorite {{ techItem.favorite? '' : 'not' }}">❤</span>
            </div>
            <div class="rating">
                <star-rating 
                    [value]="techItem.stars" 
                    [totalstars]="5" 
                    checkedcolor="red" 
                    uncheckedcolor="black" 
                    size="25px" 
                    [readonly]="true">
                </star-rating>
            </div>
            <div class="origin">
                {{ techItem.origins }}
            </div>
        </div>
        <div class="add-to-cart">
            <div class="price">
                {{ techItem.price | currency }}
            </div>
            <app-button (click)="addToCart()" [btnWidth]="'250px'" [text]="'Add To Cart'"></app-button>
        </div>
    </div>
    
</div>
