.tech-container {
    width: 80%;
    margin: 20px auto;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a {
    display: block;
    width: 250px;
    text-decoration: none;
    margin: 10px;
    position: relative;
    transition: .3s;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
}
a:hover .shadow {
    background-color: rgba(0,0,0, 0.3);
}
.parent {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: cover;
}