@import 'src/assets/styles/colors.scss';

.search {
    width: 550px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    width: 80%;
    outline: none;
    border: 0;
    padding: 7px;
    border: 1px solid $color-4;
    border-radius: 8px;
    background-color: transparent;
}